.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.appTitle {
  font-size: 1.5em;
}

.appIntro {
  font-size: large;
}


.appDivider{
  display:flex;
}

.app {
  height:     100vh;
  overflow:   hidden;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.21s;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.0s;
  animation-duration: 0.0s;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;}
} 